@font-face {
    font-family: 'Ubuntu';
    src: url(Ubuntu/Ubuntu-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(Ubuntu/Ubuntu-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(Ubuntu/Ubuntu-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(Ubuntu/Ubuntu-Medium.ttf);
    font-weight: 500;
}

html
{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 300;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

body
{
    display: block;
    height: 100%
}

.container
{
    margin: auto;
    max-width: 960px;
    padding: 50px 15px;
}

.logo
{
    font-weight: bold;
    font-size: 80px;
}

h1
{
    font-weight: bold;
    font-size: 40px;
}

h2
{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 50px;
}

h3
{
    font-weight: normal;
    font-size: 20px;
}

header
{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar
{
    flex: 1 1 100%;
}

.navbar-list
{
    display: flex;
    font-size: 18px;
    gap: 26px;
    height: 100%;
    justify-content: center;
}

.navbar-list a 
{
    transition: all 250ms ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
}

@media (min-width: 1024px) { 
    .navbar
    {
        position: absolute;
        height: 100%;
        left: 50%;
        top: 89%;
        transform: translate3D(-50%, -50%, 0);
    }

    header
    {
        position: relative;
        justify-content: flex-start;
    }

    .navbar-list
    {
        justify-content: flex-start;
    }

    .logo
    {
        padding-left: 100px;
    }
    
    .container
    {
        padding: 50px 0;
    }
}

.navbar-list a:hover 
{
    border-color: #f59e0b;
}

.desc_cta
{
    margin-top: 10px;
    margin-bottom: 50px;
}

.block-container_cta
{
    display: flex;
    padding-top: 100px;
}

.center-block_cta__container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-block_cta__container h1
{
    line-height: 1.25;
    margin-bottom: 15px;
}

.cta_template
{
    padding-left: 20px;
    padding-top: 20px;
}

.cta_download, .cta_rsa
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.cta_download 
{
    display: flex;
    justify-content: space-around;
}

.cta_download > a
{
    flex: 0 1 145px;
}

.cta_download > a img 
{
    width: 100%;
}


.cta_rsa
{
    display: flex;
    gap: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

svg
{
    width: 50px;
    padding-right: 1%;
}

.cta_fb
{
    margin-left: -12px;
}

@media (min-width: 1024px) 
{
    .cta_template
    {
        padding-left: 50px;
        padding-top: 0px;
    }
    .cta_download > a
    {
        flex: 0 1 220px;
    }
}
    

.container_fonct
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4
{
    width: 50%;
    padding: 15px;
}

.hun
{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.hun_h
{
   margin-left: 5px;
}

.video_container
{
    width: 100%;
    margin-bottom: 5%;
}

.faq_box
{
    background-size: cover;
    background-position: center center;
    background-color: rgb(242, 242, 242);
}

.row_FAQ
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}

.accordion
{
    padding-bottom: 20px;
    flex: 1 1 100%;
}

.accordion h3 
{
    margin-bottom: 14px;
}

@media (min-width: 1024px) 
{
    .accordion
    {
        flex: 1 1 45%;
    }
}

.contact-form__section
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.contact_form__item, .contact-form__item
{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.form_text
{
    padding-bottom: 20px;
}

.contact_form__item--half 
{
    width: 50%;
    padding-bottom: 10px;
}

.contact_form_box
{
  padding: 4px 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  flex: 1 1 auto;
}

.message_form
{
  padding: 4px 20px;
  margin: 1px 0;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.button_form
{
    width: 100%;
    background-color: #f59e0b;
    color: white;
    padding: 6px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button_form:hover
{
    background-color: #b45309;
}

.newsletter-form
{
    display: flex;
    gap: 10px;
}

.newsletter
{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/cats_background.jpeg);
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
}

.input-newsletter
{
  padding: 4px 20px;
  margin: 1px 0;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  width: 80%;
}

.newsletter_title
{
    color: white;
}

.news_button
{
    width: 20%;
    background-color: #f59e0b;
    color: white;
    padding: 4px 20px;
    margin: 1px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.news_button:hover
{
    background-color: #b45309;
}

.pre_footer
{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.pre_footer__item 
{
    flex: 1 1 50%;
}

.pre_footer__item .fb_link
{
    margin-left: -12px;
}

.cta2
{
    display: flex;
    gap: 15px;
}

.cta2_twitter
{
    justify-content: space-around;
}

.download2
{
    width: 50%;
}

.download2 a img 
{
    width: 180px;
}

.download2 a img:first-child 
{
    margin-bottom: 15px;
}

.footer
{
    color: #a1a1aa;
    text-align: center;
    padding-bottom: 25px;
}